/*************** Reset *********************/
* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_speciel: "Darker Grotesque", sans-serif;
  --font_header: "DM Sans", sans-serif;

  --font_size_large: 1.55rem;
  --font_size_medium: 1.35rem;
  --font_size_regular: 1rem;
  --font_size_small: 0.875rem;
  --font_size_tiny: 0.75rem;

  --bg_color: #ffffff;
  --button_bg: transparent;
  --color_white: #ffffff;
  --color_lightgrey: #a5a5a5;
  /* --color_blue: #22d1f4; */
  --color_blue: #0085ff;
  --secondary_blue: #006fff;
  --header_color: #0085ff;
  --color_text: #1c1d20;

  --colortransition: 800ms;
  --easing: ease;

  --radius-circle: 50vw;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

html,
body {
  font-family: var(--font_header);
  background-color: var(--bg_color);
}

p,
a {
  color: var(--color_text);
}

main {
  max-width: 1600px;
  margin: auto;
}

body {
  list-style: none;
}

hr {
  border-width: 0.1px;
}

a {
  text-decoration: none;
}

.word {
  transform: translateY(115px);
  transition: transform 0.5s;
}
/* ___________________________ TABLET  ___________________________*/
/* reglerne gælder når skærmen er minimum 768px */
@media screen and (min-width: 768px) {
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
}
