---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import TextKasse from "../components/TextKasse.astro";
const { parentActive } = Astro.props;
---

<MainLayout title="About me">
  <section>
    <TextKasse h3="" image="" image_alt="">
      <p></p>
      <p></p>
      <p></p>
    </TextKasse>
  </section>
</MainLayout>

<style>
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    .start {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .lyse {
      background-image: url(https://esterpiazza.dk/kea/10_eksamen/radial_lyse.avif);
      background-size: cover;
      aspect-ratio: 1440/1030;
    }
    .lyse_video {
      aspect-ratio: 16/9;
    }
    .citater {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 44px;
    }
    .faelles_citat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .billeder {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    .billeder img {
      width: 80%;
    }
    .citat_billede1,
    .citat_billede2 {
      width: 80%;
    }

    .hjerte_grid,
    .lyse_naetter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }
  }
  /* Desktop */
  @media screen and (min-width: 1024px) {
    .citater {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 44px;
    }
    .faelles_citat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0px;
    }
    .billeder {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 44px;
    }
    .billeder img {
      width: 80%;
    }
  }
</style>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
  window.addEventListener("load", () => {
    const sr = ScrollReveal({
      distance: "160px",
      duration: 1600,
      easing: "ease-out",
      viewFactor: 0.5, // Adjust this value to control when the animation triggers
    });

    sr.reveal(".billede_indhold2, .tekst_indhold1, .citat_billede1", { delay: 110, origin: "left" });
    sr.reveal(".citat, .timer_effekt", { delay: 110, origin: "top" });
    sr.reveal(".tekst_indhold2, .tekst_indhold2, .citat_billede2", { delay: 110, origin: "right" });
  });
</script>
