---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import KasseText from "../components/KasseText.astro";
import TextKasse from "../components/TextKasse.astro";
const { parentActive } = Astro.props;
---

<MainLayout title="About me">
  <article>
    <video autoplay muted loop src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/barselonavideomp4.webm"></video>
  </article>
  <section>
    <KasseText h3="Starten på Barselona" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/plakat2.avif" image_alt="Rud og Rasmus sidder" col="col2">
      <p>Barselona er et musikalsk projekt født af en fælles ambition om at udforske grænselandet mellem dansksproget pop- og rockmusik.</p>
      <p>
        <br />
        Barselona, opkaldt efter deres højgravide lærer, Lone, består af Rud Aslak (født 8. april 2000) og Rasmus Theodor (født 20. marts 1999), som dannede bandet på musikefterskolen Ollerup på Fyn i 2016.
      </p>
    </KasseText>
  </section>
  <section>
    <TextKasse h3="Grotten" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/plakat1.avif" image_alt="Rud og Rasmus i Grotten">
      <p>Musikken startede nede i 'Grotten'. Grotten er et lille musikstudie, og det er her, al vores musik bliver skabt. Grotten er ikke kun et lille rum, men også stedet, hvor vi henter al vores inspiration fra, fra plakater og lyskæder til skulpturer og alverdens små ting.</p>
      <p>Vores vægge er blevet godt pyntet op gennem årene, og der kommer hele tiden nye ting til, som souvenirs fra rejser eller tegninger, der er lavet hernede.</p>
      <p>Mange af vores sange bliver også inspireret af tingene hernede. Derfor elsker vi at tage ligegyldige ting med, fordi vi pludselig kan få en idé ved at kigge på en ting, og så kan der blive lavet en sang ud af det.</p>
    </TextKasse>
  </section>
  <section></section>
  <section>
    <div class="billeder2">
      <img class="citat_billede1" src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/rasmus_synths1.avif" alt="Rasmus fra Barselona" loading="lazy" />
      <img class="citat_billede2" src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/rud_musik1.avif" alt="Rud fra Barselona" loading="lazy" />
    </div>
  </section>

  <section>
    <TextKasse h3="Magien i Det Uventede" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/magien_i_det_uventede.avif" image_alt="Rud og Rasmus sidder">
      <p>Vi bruger ofte meget tid og energi på at forberede os og planlægge alt ned til mindste detalje. Vi går og tænker det hele igennem, forsøger at tage højde for alle mulige scenarier og sikre, at alt forløber som forventet. Ironisk nok er det ofte de øjeblikke der ender med at være de mest mindeværdige.</p>
      <p>
        <br />
        For både os selv og for publikum er det netop disse øjeblikke, der gør størst indtryk. De er autentiske og ægte, og de skaber en særlig forbindelse og intensitet, som planlagte øjeblikke sjældent kan matche. Det er i disse uforudsete øjeblikke, at magien ofte opstår, og vi oplever noget unikt og uforglemmeligt
      </p>
    </TextKasse>
  </section>

  <section>
    <KasseText h3="Øjeblikkets Kraft" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/rud_i_rublikum.avif" image_alt="Rud og Rasmus i Grotten">
      <p>Der blev sunget tilbage mod scenen nede fra salen på en måde, vi aldrig havde oplevet før. Det syn var næsten umuligt at beskrive. Der var ikke én person i salen, som ikke hoppede i takt. Uanset alder var alle grebet af stemningen. Disse øjeblikke er dem, både vi og publikum vil huske.</p>
      <p>
        <br />
        Man ved jo godt, at det aldrig kommer til at ske igen. Det der lige er sket. Det kan godt være, vi spiller nogle af de samme sange dagen efter, men lige præcis det, man oplever lige nu, det sker aldrig igen. Det er næsten for vildt at stå og tænke over. For så ved jeg heller ikke, om man kan nyde det fuldt ud.
      </p>
    </KasseText>
  </section>

  <section>
    <TextKasse h3="Live Musikkens Betydning" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/koncertbillede.avif" image_alt="Rud og Rasmus sidder">
      <p>Vi har meget brug for at se de mennesker, der lytter. Vi kan i hvert fald ikke forholde os til lyttertal. Vi har brug for at se, hvad sangene kan i en live-kontekst. Og se, at der er nogen, der har et forhold til dem.</p>
      <p>
        <br />
        Det er som om, det gik op for en, at det er grunden til, at vi skriver sangene. Grunden til, at vi har brugt så lang tid på at skrive en plade, er for at komme ud og spille den live.
      </p>
    </TextKasse>
  </section>
  <section></section>
  <section>
    <article class="hjerte_grid">
      <div class="tekst_indhold1">
        <h3>Væbnet Hjerte</h3>
        <p>
          <br />
          I vores unge dage var det ikke vigtigt for os, at musikken havde en særlig betydning. Vi ville bare optræde, mærke publikum, skrive en hurtig sang, udgive noget og komme ud igen. Det gav os en rus som vi blev afhængige af, men den forsvandt, og så kom corona.
        </p>
        <p>
          <br />
          Efter en lang pause begyndte vi at skrive musik igen, denne gang på en ny måde. Vi udviklede albummet "Væbnet Hjerte" som et treårigt projekt, der betyder meget for os. Det er lavet med al vores energi og perfektion. Under processen mødte vi mange udfordringer og tvivl, både på os selv og vores musik. Vi måtte støtte hinanden meget og tro på, at det nok skulle gå, selvom vi ikke kunne se lys for enden af tunnelen.
        </p>
      </div>
      <div class="billede_indhold1">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6KQjta3e4EszUXwo0OBGSB?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </article>
  </section>

  <section class="lyse_naetter">
    <video class="lyse_video billede_indhold2" controls src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/lysenaetter.webm"></video>

    <div class="tekst_indhold2">
      <h3>Lyse Nætter</h3>
      <p>“Lyse Nætter” handler om de oplevelser, vi har sommeren over og bevidstheden om, at denne tid er på lånt tid. “Lyse Nætter” sker dog året rundt. Øjeblikke fra turen til spillestedet, spændingen før koncerten, fællessang og dans under koncerten og euforien på hjemturen lyser selv de mørkeste nætter op.</p>
      <p>
        <br />
        Det er lykkedes os at fastfryse nogle af de små stunder fra vores “Lyse Nætter”. Vi glæder os til at dele mange flere “Lyse Nætter” øjeblikke med jer til de kommende koncerter i løbet af sommeren og på vores

        <a href="/2_koncerter" class="tour_link">efterårstour 2024</a> .
      </p>
    </div>
  </section>

  <section>
    <article class="lyse"></article>
  </section>
</MainLayout>

<style>
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .billeder2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
  }
  /* .citat_billede1,
  .citat_billede2 {
    width: 80%;
  } */
  .tour_link {
    text-decoration: underline;
  }

  .tour_link:hover {
    color: var(--color_blue);
  }
  .lyse_video {
    cursor: pointer;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    .start {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .lyse {
      background-image: url(https://esterpiazza.dk/kea/10_eksamen/radial_lyse.avif);
      background-size: cover;
      aspect-ratio: 1440/1030;
    }
    .lyse_video {
      aspect-ratio: 16/9;
    }
    .citater {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 44px;
    }
    .faelles_citat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .billeder {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    .billeder img {
      width: 80%;
    }
    .citat_billede1,
    .citat_billede2 {
      width: 80%;
    }

    .hjerte_grid,
    .lyse_naetter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }
  }
  /* Desktop */
  @media screen and (min-width: 1024px) {
    .citater {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 44px;
    }
    .faelles_citat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0px;
    }
    .billeder {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 44px;
    }
    .billeder img {
      width: 80%;
    }
  }
</style>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
  window.addEventListener("load", () => {
    const sr = ScrollReveal({
      distance: "160px",
      duration: 1600,
      easing: "ease-out",
      viewFactor: 0.5, // Adjust this value to control when the animation triggers
    });

    sr.reveal(".billede_indhold2, .tekst_indhold1, .citat_billede1", { delay: 110, origin: "left" });
    sr.reveal(".citat, .timer_effekt", { delay: 110, origin: "top" });
    sr.reveal(".tekst_indhold2, .tekst_indhold2, .citat_billede2", { delay: 110, origin: "right" });
  });
</script>
