---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cases">
  <section class="works">
    <div class="container-works">
      <div class="content-works">
        <div class="header-works">
          <h3>Recent Work</h3>
        </div>

        <div id="gallery-work">
          <div id="work-images">
            <div class="work-image" style="
                  background-image: url('https://images.pexels.com/photos/14696910/pexels-photo-14696910.jpeg');
                "></div>
            <div class="work-image" style="
                  background-image: url('https://images.pexels.com/photos/8969179/pexels-photo-8969179.jpeg');
                "></div>
            <div class="work-image" style="
                  background-image: url('https://images.pexels.com/photos/16677943/pexels-photo-16677943.jpeg');
                "></div>
          </div>
        </div>

        <div class="items-works">
          <div class="grid-works">
            <div class="item-work">
              <div class="title">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              </div>
            </div>

            <div class="item-work">
              <div class="title">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              </div>
            </div>

            <div class="item-work">
              <div class="title">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 250px;
    position: relative;
  }

  .works .container-works {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }

  .works .content-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .works .header-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--color_text);
  }

  .works .header-works h3 {
    font-size: 26px;
  }

  .works #gallery-work {
    position: fixed;
    width: 385px;
    height: 280px;
    transform: translateY(-50%, 50%);
    z-index: 999;
    overflow: hidden;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
  }

  .works #work-images {
    width: 100%;
    height: calc(280px * 3);
    display: flex;
    flex-direction: column;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
  }

  .works .work-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .works .grid-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .works .grid-works .item-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
    border-bottom: 1px solid var(--color_text);
    opacity: 0.6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  .works .grid-works .item-work .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .works .grid-works .item-work:hover {
    opacity: 1;
  }

  .works .grid-works .item-work h4 {
    font-size: 26px;
    line-height: 40px;
  }
</style>

<script>
  import { gsap } from "gsap";
  const elementsWorks = document.querySelectorAll(".item-work");
  const slidePicWorks = document.querySelector("#gallery-work");
  const slidePicsWorks = document.querySelector("#work-images");

  gsap.set(slidePicWorks, { autoAlpha: 0 });

  elementsWorks.forEach((element, index) => {
    element.addEventListener("mouseenter", function () {
      gsap.to(slidePicsWorks, {
        marginTop: `-${280 * index}px`,
        duration: 0.2,
        ease: "power1",
      });
    });

    element.addEventListener("mouseleave", function () {
      gsap.to(element, { color: "initial", duration: 0.2, ease: "power1" });
    });
  });

  window.addEventListener("mousemove", function (e) {
    gsap.to(slidePicWorks, {
      top: `${e.clientY}px`,
      left: `${e.clientX}px`,
      xPercent: -20,
      yPercent: -45,
      duration: 0.2,
      ease: "power1",
    });
  });

  document.querySelector(".items-works").addEventListener("mouseenter", function () {
    gsap.to(slidePicWorks, {
      autoAlpha: 1,
      duration: 0.2,
      ease: "power1",
    });
  });

  document.querySelector(".items-works").addEventListener("mouseleave", function () {
    gsap.to(slidePicWorks, {
      autoAlpha: 0,
      duration: 0.2,
      ease: "power1",
    });
  });
</script>

<!-- <style>
  .cases-container {
    padding-top: 12%;
  }

  .cases-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
    gap: 40px;
  }
  .cases-text p {
    font-size: 1.6rem;
  }

  .cases-text h1 {
    font-size: 4cqw;
  }
  .divider {
    width: 100%;
    height: 1px;
    margin: 0.2em 0;
    background: var(--color_white);
  }
  .flex-text {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
  }

  .flex-text p {
    max-width: 350px;
  }
  .menu {
  }

  .menu__item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu__item-image_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    pointer-events: none;
    opacity: 0;
  }

  .menu__item-image_inner .menu__item-image {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .menu__item-text {
    font-family: var(--font_header);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1;
    opacity: 1;
    transition: opacity 350ms ease;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  .menu__item:hover .menu__item-text {
    color: var(--color_blue);
  }

  .menu__item:hover .menu__item-image_wrapper {
    z-index: -2;
  }

  .menu__item-innertext {
    text-align: center;
  }
</style>

<script>
  import { gsap } from "gsap";

  // Initial animations for menu text
  gsap
    .timeline()
    .set(".menu", { autoAlpha: 1 })
    .from(".menu__item-innertext", {
      delay: 1,
      duration: 0.85,
      xPercent: 25,
      yPercent: 125,
      stagger: 0.095,
      skewY: gsap.utils.wrap([-8, 8]),
      ease: "expo.out",
    })
    .set(".menu", { pointerEvents: "all" });

  // Divider animation - juster transformOrigin
  gsap.from(".divider", 3, {
    scaleX: 0,
    ease: "power3.inOut",
    delay: 0,
    stagger: {
      amount: 1,
    },
  });

  // Text (column) animation
  gsap.from(".flex-text", 2, {
    opacity: 0,
    y: 40,
    ease: "power3.inOut",
    delay: 2,
    stagger: {
      amount: 1.5,
    },
  });

  // Image hover animations
  const menuItems = document.querySelectorAll(".menu__item");

  menuItems.forEach((item) => {
    const imageWrapper = item.querySelector(".menu__item-image_wrapper");
    const imageWrapperBounds = imageWrapper.getBoundingClientRect();
    let itemBounds = item.getBoundingClientRect();

    const onMouseEnter = () => {
      gsap.set(imageWrapper, {
        scale: 0.8,
        xPercent: -50,
        yPercent: 70,
        rotation: -15,
      });
      gsap.to(imageWrapper, { opacity: 1, scale: 1, yPercent: 0, rotation: 0 });
    };

    const onMouseLeave = () => {
      gsap.to(imageWrapper, {
        opacity: 0,
        yPercent: -70,
        xPercent: -50,
        scale: 0.8,
        rotation: -15,
      });
    };

    const onMouseMove = ({ x, y }) => {
      let yOffset = itemBounds.top / imageWrapperBounds.height;
      yOffset = gsap.utils.mapRange(0, 1.5, -50, 50, yOffset);
      gsap.to(imageWrapper, {
        duration: 1.25,
        x: Math.abs(x - itemBounds.left) - imageWrapperBounds.width / 1.4,
        y: Math.abs(y - itemBounds.top) - imageWrapperBounds.height / 5 - yOffset,
      });
    };

    item.addEventListener("mouseenter", onMouseEnter);
    item.addEventListener("mouseleave", onMouseLeave);
    item.addEventListener("mousemove", onMouseMove);

    window.addEventListener("resize", () => {
      itemBounds = item.getBoundingClientRect();
    });
  });
</script> -->
