---
import "../styles/style.css";
const { style, linket } = Astro.props;
---

<a href={linket} class={style}><span><slot /></span></a>

<style>
  .primary,
  .secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    padding: 0.8em;
    font-size: 1.25em;
    transition: color 0.3s ease-in-out;
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
    height: 10em;
    transform: translateY(200px);
  }

  .primary {
    background: var(--color_text); /* Start baggrundsfarve */
    color: white;
  }
  .primary span {
    position: relative;
    z-index: 2;
  }

  .primary::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color_blue);
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top left;
  }

  .primary:hover:before {
    transform: scaleY(1);
    transform-origin: bottom left;
  }

  .secondary {
    background: transparent; /* Start baggrundsfarve */
    border: 2px solid var(--color_blue);
    color: var(--color_text);
  }

  .secondary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--color_blue) 0%, var(--color_blue) 100%);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ligger under teksten */
  }

  .secondary:hover::after {
    transform: scaleX(1); /* Skalerer effekten over hele knappen */
  }

  .secondary span {
    position: relative;
    z-index: 2; /* Sørger for, at teksten er ovenpå */
  }

  .secondary:hover {
    color: white; /* Gør teksten hvid ved hover */
  }

  /* Responsiv justering af skrifttype */
  @media screen and (min-width: 768px) {
    a {
      font-size: var(--font_size_regular);
    }
  }

  @media screen and (min-width: 1024px) {
    a {
      font-size: var(--font_size_regular);
    }
  }
</style>
