---
import "../styles/style.css";
const { style, linket } = Astro.props;
---

<a href={linket} class={style}><span><slot /></span></a>

<style>
  .primary,
  .secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    padding: 0.8em;
    font-size: 1.25em;
    transition: color 0.3s ease-in-out;
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
    height: 10em;
    background: var(--color_text); /* Start baggrundsfarve */
    color: white;
    transform: translateY(200px);
  }

  .secondary {
    font-size: 1em;
  }
  .primary span,
  .secondary span {
    position: relative;
    z-index: 2;
  }

  .primary::before,
  .secondary::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color_blue);
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top left;
  }

  .primary:hover:before,
  .secondary:hover:before {
    transform: scaleY(1);
    transform-origin: bottom left;
  }

  .secondary {
    transform: translateX(130px);
    margin-top: 60px;
  }

  /* Responsiv justering af skrifttype */
  @media screen and (min-width: 768px) {
    a {
      font-size: var(--font_size_regular);
    }
  }

  @media screen and (min-width: 1024px) {
    a {
      font-size: var(--font_size_regular);
    }
  }
</style>
