---
import "../styles/style.css";
const { style, linket } = Astro.props;
---

<a href={linket} class={style}><slot /></a>

<style>
  .primary,
  .secondary {
    display: inline-flex; /* Brug flexbox i stedet for inline-block */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    position: relative;
    padding: 0.8em 1.8em;
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    border-radius: 1.4em;
    overflow: hidden;
    margin-top: 25px;
  }

  .primary {
    background: var(--color_blue); /* Start baggrundsfarve */
    border: 2px solid var(--color_blue);
    color: white;
  }

  .primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--button_bg) 0%, var(--button_bg) 100%);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ligger under teksten */
  }

  .primary:hover::after {
    transform: scaleX(1); /* Skalerer effekten over hele knappen */
  }

  .primary span {
    position: relative;
    z-index: 2; /* Sørger for, at teksten er ovenpå */
  }

  .primary:hover {
    color: white; /* Gør teksten hvid ved hover */
  }

  .secondary {
    background: transparent; /* Start baggrundsfarve */
    border: 2px solid var(--color_blue);
    color: var(--color_text);
  }

  .secondary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--color_blue) 0%, var(--color_blue) 100%);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ligger under teksten */
  }

  .secondary:hover::after {
    transform: scaleX(1); /* Skalerer effekten over hele knappen */
  }

  .secondary span {
    position: relative;
    z-index: 2; /* Sørger for, at teksten er ovenpå */
  }

  .secondary:hover {
    color: white; /* Gør teksten hvid ved hover */
  }

  /* Responsiv justering af skrifttype */
  @media screen and (min-width: 768px) {
    a {
      font-size: var(--font_size_regular);
    }
  }

  @media screen and (min-width: 1024px) {
    a {
      font-size: var(--font_size_regular);
    }
  }
</style>
