---
import "../styles/style.css";
import Mail from "../components/Mail.astro";
---

<footer id="contact">
  <div class="mails">
    <div class="mails_grid">
      <div class="footer-billede"></div>
      <div class="contact-text">
        <h4>Get in touch!</h4>
      </div>
    </div>
    <Mail />
  </div>
  <div class="content">
    <div class="sociale_links">
      <a href="https://www.linkedin.com/in/sebastian-elias-engelbreth-695555300"><i class="ri-linkedin-box-fill"></i></a>
      <a href="https://github.com/seen0001"><i class="ri-github-fill"></i></a>
    </div>
    <div class="links">
      <a href="#former-cases">Cases</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
  <hr />
  <div class="credits">
    <p>© 2024 Code by Sebastian E.</p>
    <div class="footer_links">
      <a href="https://www.linkedin.com/in/sebastian-elias-engelbreth-695555300">LinkedIn</a>
      <a href="https://github.com/seen0001">GitHub</a>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 80px 36px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 64px;
    /* margin-top: 32px; */
  }
  .mails {
    display: flex;
    justify-content: center;
  }
  .sociale_links {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  .sociale_links a {
    display: flex;
    background-color: var(--color_white);
    border-radius: 50px;
    width: 30px;
    height: auto;
    font-size: var(--font_size_medium);
    justify-content: center;
  }

  .links {
    display: flex;
    gap: 32px;
    text-decoration: none;
  }
  .links a {
    font-weight: bold;
  }

  .links a:hover {
    text-decoration: none;
    color: var(--color_blue);
  }
  hr {
    width: 100%;
    color: var(--color_white);
  }

  .credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
    flex-direction: column-reverse;
  }

  .footer_links {
    display: flex;
    gap: 24px;
  }

  .credits a {
    text-decoration: underline 1px;
  }

  .credits a:hover {
    color: var(--color_blue);
  }

  .contact-text {
    text-align: center;
  }
  .mails_grid {
    display: flex;
  }
  .footer-billede {
    margin-right: 0.125em;
    height: 5em;
    width: 5em;
    background: url(/images/cv-photo.avif) center center no-repeat;
    border-radius: 50%;
    background-size: cover;
  }
  .contact-text h4 {
    font-size: 4rem;
  }
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    .credits {
      flex-direction: row;
      gap: 10px;
    }

    .sociale_links a {
      font-size: var(--font_size_large);
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .mails {
      display: block;
    }
    .contact-text {
      text-align: start;
    }
  }
</style>
