---
import "../styles/style.css";
const { overskrift, text, link } = Astro.props;
---

<article>
  <div class="overskrift"><p>{overskrift}:</p></div>
  <div class="tekst"><p>{text}</p></div>

  <div class="mail">
    <p>Mail:</p>
    <a href={link}> <slot /></a>
  </div>
</article>

<style>
  article {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .overskrift p {
    font-size: var(--font_size_large);
    font-weight: bold;
  }
  .tekst p {
    padding-bottom: 8px;
    font-size: var(--font_size_regular);
  }

  .mail {
    display: flex;
  }
  .mail p {
    padding-right: 8px;
    font-size: var(--font_size_regular);
  }

  .mail a {
    text-decoration: underline 1px;
    font-size: var(--font_size_regular);
  }
  .mail a:hover {
    color: var(--color_blue);
  }
</style>
