---
import "../styles/style.css";
---

<header>
  <div class="logo">
    <a href="/">Code by <span>Sebastian E.</span></a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="/cases">Cases</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="burger">
    <span class="burger-icon">
      <div class="line"></div>
      <div class="line"></div>
    </span>
    <span class="burger-text">Menu</span>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-inline: 75px;
    z-index: 1;
  }

  .logo {
    font-family: "Darker Grotesque", sans-serif;
    z-index: 5;
    color: var(--color_text);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .logo.hide {
    opacity: 0;
    transform: translateY(-20px);
  }

  span {
    color: #5364ffd2;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    font-family: var(--font_body);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
  }

  .menu li {
    position: relative; /* Make sure li is relative for pseudo-elements positioning */
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu a {
    display: block;
    padding: 10px;
    color: var(--color_text);
    font-size: var(--font_size_medium);
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-weight: normal;
    position: relative; /* Make sure a is relative for pseudo-elements positioning */
  }
  .logo a {
    font-size: var(--font_size_large);
    color: var(--color_text);
    font-weight: bold;
  }

  .menu a:hover:not(:last-child) {
    display: inline-block;
    position: relative;
  }

  .menu a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color_text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .menu a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  hr {
    display: none;
  }

  .burger .line {
    width: 20px; /* Justér bredden af linjerne */
    height: 2.5px;
    background-color: var(--color_white); /* Farven på linjerne */
    margin-top: 2px; /* Afstand mellem linjerne */
    margin-bottom: 2px;
    transition: 0.2s linear;
    border-radius: 15%;
    transition: 0.2s linear;
  }

  .burger {
    font-size: 22px;
    background: var(--color_blue);
    cursor: pointer;
    display: none;
    color: var(--color_white);
    display: flex; /* Flex for at få ikonet og teksten side om side */
    align-items: center; /* Centrér indholdet lodret */
    justify-content: center; /* Centrér indholdet horisontalt */
    padding-inline: 2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; /* Indre afstand omkring ikonet og teksten */
    border-radius: 50px; /* Rundede hjørner */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Afstand mellem ikonet og teksten */
  }

  .burger-text {
    color: var(--color_white);
  }
  nav.scrolled .menu {
    display: none;
  }

  nav.scrolled .burger {
    display: block;
  }
  .burger:hover {
    background-color: var(--color_hover); /* Ændrer baggrundsfarve ved hover */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  /* __________________________ Tablet delen __________________________ */
  /* Reglen gælder til og med 1024px */
  @media screen and (max-width: 1024px) {
    header {
      padding-inline: 36px;
      text-align: start;
    }

    .menu {
      display: none;
      text-align: start;
    }

    .burger {
      display: block;
      text-align: start;
      z-index: 1;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: var(--color_black);
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      z-index: 1;
      text-align: start;
      padding-top: 100px;
    }

    nav.active .menu li {
      margin: 10px 20px;
      text-align: start;
    }

    nav.active .menu a {
      font-size: var(--font_size_large);
      text-align: start;
    }

    hr {
      display: block;
      border-image: var(--color_black) 1;
    }

    .logo img {
      width: 55px;
      height: auto;
    }

    li:last-child img {
      max-width: 45px;
      height: auto;
    }
  }

  /* __________________________ Mobil delen __________________________ */
  /* Reglen gælder til og med 768px */
  @media screen and (max-width: 768px) {
    header {
      padding-inline: 20px;
      text-align: start;
    }

    nav.active .menu a {
      font-size: var(--font_size_medium);
      text-align: start;
    }

    .logo img {
      width: 50px;
      height: auto;
    }

    li:last-child img {
      max-width: 40px;
      height: auto;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");
  const logo = document.querySelector(".logo");

  // Skjul burger-menuen ved indlæsning
  burger.style.display = "none";

  // Scroll event listener
  window.addEventListener("scroll", () => {
    if (window.scrollY >= 80) {
      nav.classList.add("scrolled");
      logo.classList.add("hide");

      // Vis burger-menuen og skjul den normale menu
      burger.style.display = "flex"; // Vis burger-menuen
      menu.style.display = "none"; // Skjul normal menu
    } else {
      nav.classList.remove("scrolled");
      logo.classList.remove("hide");

      // Vis normal menu og skjul burger-menuen
      burger.style.display = "none"; // Skjul burger-menuen
      menu.style.display = "flex"; // Vis normal menu
    }
  });

  // Toggle menu visibility
  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
    if (nav.classList.contains("active")) {
      menu.style.display = "block"; // Vis menuen når burgeren klikkes
    } else {
      menu.style.display = "none"; // Skjul menuen når burgeren klikkes igen
    }
  });

  // Hide menu when links are clicked
  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
      menu.style.display = "none"; // Skjul menu når et link er klikket
    });
  });

  // // Hent lyd-elementet
  // const hoverSound = document.getElementById("hoverSound");

  // // Hent alle link-elementer
  // const hoverlinks = document.querySelectorAll(".menu a");

  // // Tilføj eventlistener til hover-begivenhed for hvert link
  // hoverlinks.forEach((link) => {
  //   link.addEventListener("mouseover", () => {
  //     // Afspil lyden når hover begynder
  //     hoverSound.currentTime = 0; // Sæt lyd til starten, hvis den allerede spilles
  //     hoverSound.play();
  //   });
  // });
</script>
