---
import "../styles/style.css";
---

<header>
  <div class="header">
    <a href="/">
      <div class="logo">
        <div class="copyright">
          <img src="/logo/myIcon.ico" alt="Logo">
        </div>
        <div class="name">
          <p class="codeBy">Code By</p>
          <p class="sebastian">Sebastian</p>
          <p class="engelbreth">Engelbreth</p>
        </div>
      </div>
    </a>
    <div class="nav" id="nav">
      <!-- Tilføjet id til nav -->
      <div class="el">
        <a href="#former-cases"><p>Cases</p></a>
        <div class="indicator"></div>
      </div>
      <div class="el">
        <a href="#about"><p>About</p></a>
        <div class="indicator"></div>
      </div>
      <div class="el">
        <a href="#contact"><p>Contact</p></a>
        <div class="indicator"></div>
      </div>
    </div>
  </div>
  </header>

  <style>
    .header {
      position: absolute;
      top: 0;
      color: var(--color_text);
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 35px 50px;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 0.5px solid #c5c5c562;
    }

    .logo {
      font-family: "Darker Grotesque", sans-serif;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }

    .name {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      width: 148px;
    }

    .codeBy,
    .sebastian,
    .engelbreth {
      margin: 0;
      padding-left: 0.2em;
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .engelbreth {
      position: absolute;
      left: 145px;
      color: var(--color_blue);
    }

    .copyright{
      width: 12%;
    }

    /* Apply hover effect to .logo, not .name */
    .logo:hover .codeBy {
      transform: translateX(-100%);
    }

    .logo:hover .sebastian {
      transform: translateX(-92.5%);
    }

    .logo:hover .engelbreth {
      transform: translateX(-95%);
    }

    .nav {
      display: flex;
      font-size: 1.125rem;
    }

    .el {
      display: flex;
      position: relative;
      padding: 15px;

      .indicator {
        width: 6px;
        height: 6px;
        background-color: var(--color_text);
        position: absolute;
        border-radius: 50%;
        top: 80%;
        left: 50%;
        transform: scale(0) translateX(-50%);
        transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
      }

      &:hover {
        .indicator {
          transform: scale(1) translateX(-50%);
        }
      }
  </style>
