---
import "../styles/style.css";
const { h2, image, image_alt } = Astro.props;
---

<article>
  <div class="tekst_indhold1">
    <h2>{h2}</h2>
    <slot />
  </div>
  <div class="tekst_indhold2">
    <img class="billede" src={image} alt={image_alt} loading="lazy" />
  </div>
</article>

<style>
  h2 {
    font-size: var(--font_size_large);

    padding-bottom: 30px;
  }
  article {
    display: flex;
    gap: 16px;
    margin-inline: 10%;
    padding-top: 90px;
  }
  .tekst_indhold1,
  .tekst_indhold2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
  }

  .tekst_indhold2 {
    align-items: center;
  }

  .billede {
    max-width: 65%;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
  }
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }
  }
</style>
