---
import "../styles/style.css";
const { h2, image, image_alt } = Astro.props;
---

<article class="tekst-kasse-indhold">
  <div class="tekst_indhold1">
    <h2>{h2}</h2>
    <slot />
  </div>
  <div class="tekst_indhold2">
    <img class="billede" src={image} alt={image_alt} loading="lazy" />
  </div>
</article>

<style>
  .tekst_indhold1 {
    margin-bottom: 60px;
  }
  h2 {
    font-size: var(--font_size_large);
    margin-bottom: 5px;
  }
  article {
    margin-inline: 8%;
    margin-bottom: 160px;
  }

  .tekst_indhold2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }

  .billede {
    max-width: 65%;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    transform: translateY(50px);
  }
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }

    .tekst_indhold1 {
      margin-bottom: 0px;
    }

    .tekst_indhold2 {
      padding-bottom: 40px;
    }
  }
</style>
