---
import "../styles/style.css";
import Navigation2 from "../components/Navigation2.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <!-- europæisk sprog -->
    <meta charset="utf-8" />

    <!-- Det eks hvis man bruger safari - så browser ser ens ud-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Fortæller at det er et pesponsivt site -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO metadata -->
    <meta name="description" content="Portfolio" />
    <meta name="author" content="Sebastian Elias Engelbreth" />
    <meta name="copyright" content="Web by Sebastian Elias" />

    <!-- Den kommer ikke frem hos søgemaskiner -->
    <meta name="robots" content="noindex, nofollow" />

    <!-- fa-icon -->
    <link rel="icon" type="image/svg+xml" href="/logo/logo.svg" />

    <!-- Roboto font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- Sætter generator meta tag til at angive hvilken værktøj der blev brugt til at generere siden -->
    <meta name="generator" content={Astro.generator} />

    <!-- titel på siden (sidetitel) -->
    <title>{title}</title>
  </head>
  <body id="top">
    <div class="cursor"></div>
    <div class="cursor-inner"></div>

    <Navigation2 />
    <main>
      <slot />
    </main>
    <div class="border-spacer"></div>
    <div class="circleContainer">
      <div class="circle"></div>
    </div>
    <Footer />
  </body>
  <style>
    .border-spacer {
      width: 100%;
      height: var(--footer-height);
      background: transparent;
    }

    nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .cursor {
      width: 2.5em;
      height: 2.5em;
      border-radius: 100%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: all 0.5s cubic-bezier(0.1, 0.9, 0.2, 1);
      position: fixed;
      pointer-events: none;
      left: 0;
      top: 0;
      transform: translate(calc(-50% + 15px), -50%);
      z-index: 99;
      mix-blend-mode: difference;
    }

    .cursor-inner {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 1);
      opacity: 1;
      position: fixed;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition:
        width 0.3s,
        height 0.3s,
        opacity 0.3s;
      z-index: 99;
      mix-blend-mode: difference;
      overflow: hidden;
    }

    .cursor.hover {
      width: 4.5em;
      height: 4.5em;
      border: 1px solid rgba(255, 255, 255, 1);
    }

    .cursor-inner.cursorinnerhover {
      width: 1.5em;
      height: 1.5em;
    }
  </style>

  <script>
    var cursor = document.querySelector(".cursor");
    var cursorinner = document.querySelector(".cursor-inner");
    var a = document.querySelectorAll("a, button"); // Målret alle a- og button-elementer

    document.addEventListener("mousemove", function (e) {
      var x = e.clientX;
      var y = e.clientY;
      cursor.style.transform = `translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0)`;
    });

    document.addEventListener("mousemove", function (e) {
      var x = e.clientX;
      var y = e.clientY;
      cursorinner.style.left = x + "px";
      cursorinner.style.top = y + "px";
    });

    document.addEventListener("mousedown", function () {
      cursor.classList.add("click");
      cursorinner.classList.add("cursorinnerhover");
    });

    document.addEventListener("mouseup", function () {
      cursor.classList.remove("click");
      cursorinner.classList.remove("cursorinnerhover");
    });

    a.forEach((item) => {
      item.addEventListener("mouseover", () => {
        cursor.classList.add("hover");
      });
      item.addEventListener("mouseleave", () => {
        cursor.classList.remove("hover");
      });
    });
  </script>
</html>
